#titulo{
    font-family: "Dancing Script", cursive;
    font-style: normal;
}

#fotoprincipal{
    max-width: 960px;
    text-align: center;
}

#boasVindas{
    text-align: center;
}

#selecionado1, #selecionado2, #selecionado3{
    color: #ff2600;
}

#texto2{
    width: 900px;
    text-indent: 40px;
    margin: auto;
    text-align: justify;
}

.textinho{
    text-align: justify;
    text-indent: 40px;
}

.corpo{
    background-color: #2C3E50;
}

.container{
    background-color: #F0E5CF;
    width: 960px;
    margin: auto;
}

.cabecape{
    background-color: #E27D60;
    text-align: center;
}

.capas{
    border-radius: 25px;
    width: 100%;
}

h1{
    font-size: 50px;
}

h2{
    padding: 10px;
}

table{
    margin: auto;
    width: 400px;
    table-layout: fixed;
}

td, th {
    padding: 10px;           
    text-align: left;          
    border-bottom: 1px solid #aaa6a6; 
}

tr:hover{
    transition: 0.5s;
    background-color: #f1ca7a;
}

a {
    text-decoration: none; /* Remove o sublinhado dos links */
}

nav{
    display: flex;
    border-bottom: 1px solid #aaa6a6; 
    padding-bottom: 25px; 
    transition: background-color 0.3s ease;
}

nav a:focus,nav a:active{
    background-color: #007BFF;
    color: #fff;
}

li{
    margin: auto;
}

a:hover::content{
    transition: 1s;
    background-color: #539ce6;
    /*o text-decoration serve como uma linha, tanto em cima quanto embaixo do texo onde esta sendo colocado, como estamos usando na tag <a> que ja vem uma linha sublinhando e estamos utilizando "none" ele tira essa linha*/
}

a:before{
    content: "📚 ";
}

p{
    padding: 10px;
}

label {
    display: block;           
    margin-bottom: 5px;      
    font-weight: bold; 
}      

input[type="text"],
textarea {
    width: 100%;              
    margin-bottom: 15px;      
    border: 1px solid #ccc;   
    border-radius: 4px;       
    font-size: 16px;   
    resize: none;       
}

input[type="text"]:focus,
textarea:focus {
    background-color: #b3d9e1; 
    outline: none;            
    border-color: #66a2b4;  
}

.myButton {
	box-shadow: 0px 7px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding:9px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}



